[Unit]
Description=Brip API Server Init

[Service]
User=ubuntu
Environment=HOME=/home/ubuntu
ExecStart=/home/ubuntu/travelit-api/reboot-init/prod/server-init-script.sh
TimeoutStartSec=30m

[Install]
WantedBy=multi-user.target