[Unit]
Description=System Resource Monitoring Service

[Service]
User=ubuntu
Environment=HOME=/home/ubuntu
ExecStart=/bin/bash -c 'while sleep 5; do date >> ~/sys-resource..log  && ps -eo user,pid,ppid,rss,size,vsize,pmem,pcpu,time,cmd --sort -rss | head -n 11 >> ~/sys-resource.log;  done'
Restart=always

[Install]
WantedBy=multi-user.target