[Unit]
Description=travelit-api Monthly Batch

[Service]
Type=oneshot
ExecStart=/home/ubuntu/travelit-api/node_modules/.bin/ts-node -r tsconfig-paths/register /home/ubuntu/travelit-api/src/timer/monthly/monthlyBatchJob.ts
EnvironmentFile=/home/ubuntu/travelit-api/src/timer/monthly/EnvironmentFile

[Install]
WantedBy=multi-user.target

