[Unit]
Description=travelit-api Daily Data Fetch From Google Maps Flatform > Place > TextSearch API

[Timer]
#OnCalendar=*-*-* 15:00:00
OnCalendar=*-*-* 00:10:00
AccuracySec=1m
Unit=daily.service

[Install]
WantedBy=timers.target