<!-- sseKey는 deprecated됨. accessToken에 포함된 userId로 클라이언트를 구별함, EventSource 생성하는단계에서 Authorization 헤더도 포함해야 하므로 본 스크립트는 정상동작하지 않음 -->
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/eventsource-polyfill/0.9.6/eventsource.js"
      integrity="sha512-5u7AZWLl5+D87Z4b8n7lgV+aMaIZxAnR1+zE9iGk7h3gecBIVR08HRCZxpQuyJTS+TG7vaC0mj7l7ArmHQmE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <button id="company">run as company</button>
    <button id="customer">run as customer</button>
    <input
      id="askBookingAvailableTo"
      type="text"
      placeholder="ask to <userId>"
      value=""
    />
    <script>
      var es;
      var userType, askBookingAvailableTo, accessToken;

      let server_url = (() => {
        let execute_env = '<%= process.env.EXECUTE_ENV %>';
        if (execute_env === 'dev') return 'https://dev-api.idealbloom.co.kr';
        else if (execute_env === 'prod') return 'https://api.idealbloom.co.kr';
        return 'http://localhost:3000';
      })();

      async function run() {
        //브라우저가 SSE지원하는지 체크
        if (typeof EventSource == 'undefined') {
          console.log('sse is unsupported');
        }
        console.log('sse is supported');

        if (es) {
          es.close();
        }
        /// 1. getSSEKey api 호출.
        // const headers = new Headers({
        //   'Content-Type': 'application/json',
        //   Authorization: accessToken,
        // });

        // const getSSEKeyResponse = await fetch('noti/getSSEKey', {
        //   method: 'POST',
        //   headers,
        //   redirect: 'follow',
        // });
        // const getSSEKeyResult = await getSSEKeyResponse.json();
        // const { sseKey } = getSSEKeyResult.IBparams;

        const sseSubscribeHeaders = new Headers({
          Authorization: accessToken,
        });
        es = new EventSource(`/noti/sseSubscribe`, {
          headers: {
            Authorization: accessToken,
          },
          withCredentials: true,
        });

        es.onopen = async event => {
          // when connection success
          console.log('ready');
          // console.log(event);

          es.onmessage = stream => {
            // when message is received
            const parsedData = JSON.parse(stream.data);
            console.log(parsedData);
          };

          // specific event name test
          es.addEventListener(`userId${userId}`, event => {
            const data = JSON.parse(event.data);
            console.log(`From Server message: ${data.message}`);
          });

          if (userType === 'customer') {
            console.log(
              `trying to call askBookingAvailable to userId ${$(
                'input#askBookingAvailableTo',
              ).val()}...`,
            );
            const askBookingAvailableResponse = await fetch(
              `${server_url}/noti/askBookingAvailable`,
              {
                method: 'POST',
                headers,
                redirect: 'follow',
                body: JSON.stringify({
                  date: new Date().toISOString(),
                  numOfPeople: 2,
                  toUserId: $('input#askBookingAvailableTo').val(),
                }),
              },
            );
          }
        };

        es.onerror = error => {
          // when an error occurs

          console.error('error', error);
        };
      }

      $(document).ready(() => {
        $('#customer').on('click', () => {
          console.log('customer');
          userType = 'customer';
          accessToken = `Bearer <%=${process.env.testUserAccessToken1}%>`;
          run();
        });
        $('#company').on('click', () => {
          console.log('company');
          userType = 'company';
          accessToken = `Bearer <%=${process.env.testUserAccessToken2}%>`;
          run();
        });
        $('#askBookingAvailableTo').on('keypress', () => {
          askBookingAvailableTo = $('#askBookingAvailableTo').val();
          console.log(askBookingAvailableTo);
        });
      });
    </script>
  </body>
</html>
