<html>
  <!-- sseKey는 deprecated됨. accessToken에 포함된 userId로 클라이언트를 구별함, EventSource 생성하는단계에서 Authorization 헤더도 포함해야 하므로 본 스크립트는 정상동작하지 않음 -->
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <button id="company">run as company</button>
    <button id="customer">run as customer</button>
    <input
      id="askBookingAvailableTo"
      type="text"
      placeholder="ask to <userId>"
      value=""
    />
    <script>
      const context = params => {
        let es;
        const { userType, userId, accessToken } = params;

        let server_url = (() => {
          let execute_env = '<%= process.env.EXECUTE_ENV %>';
          if (execute_env === 'dev') return 'https://dev-api.idealbloom.co.kr';
          else if (execute_env === 'prod')
            return 'https://api.idealbloom.co.kr';
          return 'http://localhost:3000';
        })();

        async function run() {
          //브라우저가 SSE지원하는지 체크
          if (typeof EventSource == 'undefined') {
            console.log('sse is unsupported');
          }
          console.log('sse is supported');

          if (es) {
            es.close();
          }

          es = new EventSource(`/noti/testSSESubscribe?userId=${userId}`, {
            withCredentials: true,
          });

          es.onopen = async event => {
            // when connection success
            console.log('ready');
            // console.log(event);

            es.onmessage = stream => {
              // when message is received
              const parsedData = JSON.parse(stream.data);
              console.log(parsedData);
            };

            // specific event name test
            es.addEventListener(`userId${userId}`, event => {
              const data = JSON.parse(event.data);
              const prevChat = textarea.val();
              textarea.val(`${prevChat}\nFrom Server message: ${data.message}`);
            });

            if (userType === 'customer') {
              console.log(
                `call askBookingAvailable to userId ${$(
                  'input#askBookingAvailableTo',
                ).val()}...`,
              );

              var myHeaders = new Headers();
              myHeaders.append('Content-Type', 'application/json');
              myHeaders.append('Authorization', accessToken);

              const askBookingAvailableResponse = await fetch(
                `${server_url}/noti/askBookingAvailable`,
                {
                  method: 'POST',
                  headers: myHeaders,
                  redirect: 'follow',
                  body: JSON.stringify({
                    date: new Date().toISOString(),
                    numOfPeople: 2,
                    toUserId: $('input#askBookingAvailableTo').val(),
                  }),
                },
              );
            }
          };

          es.onerror = error => {
            // when an error occurs

            console.error('error', error);
          };
        }
        return run;
      };

      $(document).ready(() => {
        $('#customer').on('click', async () => {
          console.log('customer');

          const run = context({
            userType: 'customer',
            userId: '1',
            accessToken: 'Bearer <%=process.env.testUserAccessToken1%>',
          });
          await run();
        });
        $('#company').on('click', async () => {
          console.log('company');
          const run = context({
            userType: 'company',
            userId: '3',
            accessToken: `Bearer <%=process.env.testUserAccessToken2%>`,
          });

          textarea = $('<textarea>', {
            id: 'chatBox',
            css: {
              width: '300px',
              height: '400px',
            },
          });
          $('#company').after(textarea);
          await run();
        });
        $('#askBookingAvailableTo').on('keypress', () => {
          askBookingAvailableTo = $('#askBookingAvailableTo').val();
          console.log(askBookingAvailableTo);
        });
      });
    </script>
  </body>
</html>
